target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/.idea/**
**/target/**
*.iml
.classpath
.factorypath
.project
.settings/
.vscode/
.DS_Store
*.env
.envrc
/dist/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/.gradle/
/bin/
.sts4*
